<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="cc.ayakurayuki.reminder">

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">

        <!-- <editor-fold desc="activity"> -->
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:theme="@style/Fullscreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.AddAlarmActivity"
            android:theme="@style/Fullscreen"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name=".activity.SetRingtoneActivity"
            android:theme="@style/Fullscreen" />
        <activity
            android:name=".activity.AlarmDetailActivity"
            android:theme="@style/Fullscreen" />
        <!-- </editor-fold> -->

        <!-- <editor-fold desc="service"> -->
        <service
            android:name=".service.AlarmService"
            android:icon="@drawable/ic_launcher_background"
            android:label="@string/app_name" />

        <receiver android:name=".service.AlarmServiceBroadcastReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
        <receiver android:name=".service.AlarmAlertBroadcastReceiver" />
        <!-- </editor-fold> -->
    </application>

</manifest>